<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcloud.framework.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xcloud.framework.entity.User">
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="age" jdbcType="SMALLINT" property="age" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <insert id="insert" parameterType="com.xcloud.framework.entity.User">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.String">
      PostgreSQL
    </selectKey>
    insert into t_user (user_id,username, age, address,
      password)
    values (#{userId,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR}, #{age,jdbcType=SMALLINT}, #{address,jdbcType=CHAR},
      #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xcloud.framework.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=SMALLINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="findAllList" resultMap="BaseResultMap">
    SELECT * FROM t_user
  </select>
</mapper>